/* start heroes/watch-series-7 */
.logo-image-watch-series-7-watch-logo-lte {
	width: 188px;
	height: 72px;
	background-size: 188px 72px;
	background-repeat: no-repeat;
	background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_large.png");
	background-position: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.logo-image-watch-series-7-watch-logo-lte {
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_large_2x.png");
	}
}

@media only screen and (max-width: 1068px) {
	.logo-image-watch-series-7-watch-logo-lte {
		width: 174px;
		height: 66px;
		background-size: 174px 66px;
		background-repeat: no-repeat;
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_medium.png");
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.logo-image-watch-series-7-watch-logo-lte {
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_medium_2x.png");
	}
}

@media only screen and (max-width: 734px) {
	.logo-image-watch-series-7-watch-logo-lte {
		width: 122px;
		height: 47px;
		background-size: 122px 47px;
		background-repeat: no-repeat;
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_small.png");
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.logo-image-watch-series-7-watch-logo-lte {
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_small_2x.png");
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	.logo-image-watch-series-7-watch-logo-lte {
		width: 188px;
		height: 72px;
		background-size: 188px 72px;
		background-repeat: no-repeat;
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_largetall.png");
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 1.5dppx), only screen and (min-width: 1069px) and (min-height: 776px) and (min-resolution: 144dpi) {
	.logo-image-watch-series-7-watch-logo-lte {
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_largetall_2x.png");
	}
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
	.logo-image-watch-series-7-watch-logo-lte {
		width: 174px;
		height: 66px;
		background-size: 174px 66px;
		background-repeat: no-repeat;
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_mediumtall.png");
	}
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) and (min-resolution: 144dpi) {
	.logo-image-watch-series-7-watch-logo-lte {
		background-image: url("../images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_mediumtall_2x.png");
	}
}
/* end heroes/watch-series-7 */

/* start promos/airpods */
/* airpods */

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-tile-airpods {
	bottom: 23px;
}

/* airpods */
/* end promos/airpods */

/* start promos/apple-fitness-plus-winter */
.main [data-module-template="promos"] [data-unit-id="apple-fitness-plus-winter"] .unit-copy-wrapper .subhead {
	max-width: 330px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="apple-fitness-plus-winter"] .unit-copy-wrapper .subhead {
		max-width: 300px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="apple-fitness-plus-winter"] .unit-copy-wrapper .subhead {
		margin-top: 12px;
	}
}

.xsmall {
	display: none;
}

@media only screen and (max-width: 800px) {
	.xsmall {
		display: inline;
	}
}

@media only screen and (max-width: 800px) {
	.main [data-module-template="promos"] [data-unit-id="apple-fitness-plus-winter"] .unit-copy-wrapper .cta-links a:not(:only-child):not(:first-child) {
		margin-left: 0;
	}
}

@media only screen and (max-width: 800px) {
	.main [data-module-template="promos"] [data-unit-id="apple-fitness-plus-winter"] .unit-copy-wrapper .cta-links {
		line-height: 1.43536;
	}

	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-fitness-plus-winter-tile-winter {
		bottom: -30px;
	}
}

@media only screen and (max-width: 374px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-fitness-plus-winter-tile-winter {
		bottom: -50px;
	}
}
/* end promos/apple-fitness-plus-winter */

/* start promos/apple-music-spatial-audio */
html[data-layout-name="apple-music-billie-eilish"] .main [data-module-template="promos"] [data-unit-id="apple-music-spatial-audio"] .apple-music-spatial-audio-billie-eilish .unit-copy-wrapper .cta-links sup {
	margin-left: 0;
}

.main [data-module-template="promos"] [data-unit-id="apple-music-spatial-audio"] .unit-copy-wrapper .subhead {
	max-width: 350px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="apple-music-spatial-audio"] .unit-copy-wrapper .subhead {
		max-width: 310px;
	}
}
/* end promos/apple-music-spatial-audio */

/* start promos/tv-plus-severance */
.logo-image-tv-plus-severance-promo-logo {
	width: 310px;
	height: 49px;
	background-size: 310px 49px;
	background-repeat: no-repeat;
	background-image: url("../images/promos/tv-plus-severance/severance_logo_promo_enymixylps02_large.png");
	background-position: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.logo-image-tv-plus-severance-promo-logo {
		background-image: url("../images/promos/tv-plus-severance/severance_logo_promo_enymixylps02_large_2x.png");
	}
}

@media only screen and (max-width: 1068px) {
	.logo-image-tv-plus-severance-promo-logo {
		width: 286px;
		height: 46px;
		background-size: 286px 46px;
		background-repeat: no-repeat;
		background-image: url("../images/promos/tv-plus-severance/severance_logo_promo_enymixylps02_medium.png");
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.logo-image-tv-plus-severance-promo-logo {
		background-image: url("../images/promos/tv-plus-severance/severance_logo_promo_enymixylps02_medium_2x.png");
	}
}

@media only screen and (max-width: 734px) {
	.logo-image-tv-plus-severance-promo-logo {
		width: 300px;
		height: 46px;
		background-size: 300px 46px;
		background-repeat: no-repeat;
		background-image: url("../images/promos/tv-plus-severance/severance_logo_promo_enymixylps02_small.png");
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.logo-image-tv-plus-severance-promo-logo {
		background-image: url("../images/promos/tv-plus-severance/severance_logo_promo_enymixylps02_small_2x.png");
	}
}

.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .unit-wrapper {
	background: #8fa8a5;
}

.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
	bottom: 29px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
		bottom: 27px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
		bottom: 22px;
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
		bottom: 26px;
	}
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
		bottom: 34px;
	}
}

.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .headline {
	margin-top: 5px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .headline {
		margin-top: 9px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .headline {
		margin-top: 3px;
	}
}

.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
	margin-top: 18px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
		margin-top: 21px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
		margin-top: 17px;
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
		margin-top: 21px;
	}
}

@media only screen and (max-width: 1068px) and (min-width: 735px) and (min-height: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
		margin-top: 22px;
	}
}

.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
	margin-top: 11px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
		margin-top: 17px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
		margin-top: 5px;
	}
}

@media only screen and (min-width: 1069px) and (min-height: 776px) {
	.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
		margin-top: 18px;
	}
}

.main [data-module-template="heroes"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links a {
	color: #fff;
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-tv-plus-severance-promo {
	width: 1262px;
	height: 580px;
	background-size: 1262px 580px;
	background-repeat: no-repeat;
	background-image: url("../images/promos/tv-plus-severance/promo_severance_dk1wetz9blw2_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-tv-plus-severance-promo {
		background-image: url("../images/promos/tv-plus-severance/promo_severance_dk1wetz9blw2_large_2x.jpg");
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-tv-plus-severance-promo {
		width: 516px;
		height: 490px;
		background-size: 516px 490px;
		background-repeat: no-repeat;
		background-image: url("../images/promos/tv-plus-severance/promo_severance_dk1wetz9blw2_medium.jpg");
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-tv-plus-severance-promo {
		background-image: url("../images/promos/tv-plus-severance/promo_severance_dk1wetz9blw2_medium_2x.jpg");
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-tv-plus-severance-promo {
		width: 734px;
		height: 548px;
		background-size: 734px 548px;
		background-repeat: no-repeat;
		background-image: url("../images/promos/tv-plus-severance/promo_severance_dk1wetz9blw2_small.jpg");
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-tv-plus-severance-promo {
		background-image: url("../images/promos/tv-plus-severance/promo_severance_dk1wetz9blw2_small_2x.jpg");
	}
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .unit-wrapper {
	background: #8fa8a5;
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
	bottom: 32px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
		bottom: 27px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper {
		bottom: 22px;
	}
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .headline {
	margin-top: 5px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .headline {
		margin-top: 9px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .headline {
		margin-top: 3px;
	}
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
	margin-top: 17px;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
		margin-top: 19px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .subhead {
		margin-top: 17px;
	}
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
	margin-top: 0.7em;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
		margin-top: 0.8em;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links {
		margin-top: 0.82em;
	}
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .bottom-copy-wrapper .unit-copy-wrapper .cta-links a {
	color: #fff;
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .tagline {
	font-size: 21px;
	line-height: 1.28583;
	font-weight: 400;
	letter-spacing: 0.007em;
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif;
	color: white;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .tagline {
		font-size: 24px;
		line-height: 1.16667;
		font-weight: 400;
		letter-spacing: 0.009em;
		font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
			"Helvetica", "Arial", sans-serif;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .tagline {
		font-size: 19px;
		line-height: 1.4211;
		font-weight: 400;
		letter-spacing: 0.012em;
		font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
			"Helvetica", "Arial", sans-serif;
	}
}

@media only screen and (max-width: 1068px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .tagline {
		margin-top: 17px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .tagline {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 734px) {
	.main [data-module-template="promos"] [data-unit-id="tv-plus-severance"] .unit-image-wrapper {
		top: 9px;
	}
}
/* end promos/tv-plus-severance */
