/*start locale switcher*/
html:not(.aos).ac-ls-visible {
	--global-nav-collective-height: calc(
		var(--r-globalnav-height) + var(--global-nav-ad-bar-height)
	);
}

html:not(.aos).ac-ls-visible .main {
	padding-top: calc(
		var(--global-nav-collective-height) + var(--r-localeswitcher-height)
	);
}
/*start locale switcher*/
